@import 'nib'
@import 'constants'
DistanceFactor=1.04

iframe#_SHECODES_sidebar_container
    transform-origin:100% 0%
    top: 0px
    left: 0px
    z-index: 30000
    position: fixed
    width: SBWidth
    height: 100%
    background-color: white
    border: none

@keyframes _SHECODES_flip {
    0% {
        animation-timing-function: ease-in
        margin-left: 0px
        background-position: 0% -30%;
    }
    25% {
        animation-timing-function: ease-out
        background-position: 0% 0%;
        margin-left: SBWidth
    }
    75% {
        animation-timing-function: ease-in
        background-position: 0% -30%;
        margin-left: DistanceFactor*SBWidth
    }
    100% {
        animation-timing-function: ease-in-out
        background-position: 0% -30%
        margin-left: SBWidth
    }
}

@keyframes _SHECODES_iframe {
    0% {
        animation-timing-function: ease-in
        left: 0px
        transform: rotateY(-90deg)
    }
    25% {
        animation-timing-function: ease-out
        left: 0px
        transform: rotateY(-90deg)
    }
    75% {
        animation-timing-function: ease-in
        left: ( DistanceFactor - 1 )*SBWidth
        transform: rotateY(0deg)
    }
    100% {
        animation-timing-function: ease-in-out
        left: 0px
        transform: rotateY(0deg)
    }
}


._SHECODES_pushed iframe#_SHECODES_sidebar_container
    animation: _SHECODES_iframe Duration
    animation-direction: alternate;

body._SHECODES_pushed
    margin-left: SBWidth
    animation: _SHECODES_flip Duration
    animation-direction: alternate;
